---
import "../styles/global.css";
import Nav from "../components/Nav.astro";

const { title, description } = Astro.props;

const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />
        <title>{title}</title>
    </head>
    <body class="bg-[#2e3440] text-gray-300">
        <div class="relative min-h-screen py-5 flex flex-col">
            <div
                class="container mx-auto flex flex-col items-center justify-center flex-1 px-7 xl:px-0"
            >
                <slot />
            </div>

            {currentPath !== "/" && <Nav />}
        </div>
    </body>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XNNRN086NG"
    ></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-XNNRN086NG");
    </script>
</html>
