---
import Layout from "../layouts/Layout.astro";
import profilePic from "../assets/kusmayadi.jpeg";
import { Picture } from "astro:assets";
---

<Layout title="About Kusmayadi" description="A little bit about Kusmayadi">
    <section
        class="flex flex-col bg-[#eceff4] w-full rounded-lg py-7 px-9 text-[#3b4252] text-sm md:text-base"
    >
        <h1 class="mb-7">Hello World!</h1>
        <div>
            <div
                class="relative lg:w-44 lg:h-44 w-28 h-28 overflow-hidden rounded-full shadow-xl float-right ml-4"
            >
                <Picture src={profilePic} alt="Kusmayadi" />
            </div>
            <p class="mb-5">
                I am Kusmayadi. I am an experienced software engineer, having
                more than 20 years experience who love building system and
                interested in system architecture, product development, and
                leading tech team.
            </p>

            <p class="mb-5">I am also into music and movies.</p>

            <p class="mb-5">
                Feel free to <a href="/get-in-touch" class="underline"
                    >contact me</a
                > if you have the same interests, have some projects that need me
                to help, or just growing a network.
            </p>
        </div>
    </section>
</Layout>
