---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Kusmayadi">
    <div class="grid grid-cols-2 lg:grid-cols-3 gap-4">
        <Card title="About Me" url="/about-me" backgroundClass="bg-blue-500" />
        <Card
            title="Work Experiences"
            url="/work-experience"
            backgroundClass="bg-red-500"
        />
        <Card title="Projects" url="/projects" backgroundClass="bg-green-500" />
        <Card
            title="Tech Stack"
            url="/tech-stack"
            backgroundClass="bg-purple-600"
        />
        <!-- <Card
            title="Open Source Projects"
            url="/open-source-projects"
            backgroundClass="bg-purple-600"
        /> -->
        <Card
            title="Music"
            url="https://soundcloud.com/kusmayadi"
            backgroundClass="bg-orange-600"
        />
        <Card
            title="Get in Touch"
            url="/get-in-touch"
            backgroundClass="bg-fuchsia-600"
        />
    </div>
</Layout>
