---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Work Experiences">
    <section
        class="flex flex-col bg-[#eceff4] w-full rounded-lg py-7 px-9 text-[#3b4252]"
    >
        <h1 class="mb-7">Work Experiences</h1>
        <div class="grid grid-cols-2 gap-4">
            <div class="mb-4">
                <h2>CTO</h2>
                <h3>PT Cerita Teknologi Indonesia</h3>
                <h4>
                    <font-awesome-icon
                        :icon="['fas', 'globe']"
                        class="text-gray-500"></font-awesome-icon>
                    <a href="https://restock.id">restock.id</a>
                </h4>
                <div>Sep 2019 – Feb 2020</div>
                <div>Jakarta, Indonesia</div>
            </div>

            <div class="mb-4">
                <h2>CTO</h2>
                <h3>PT. Brodo Ganesha Indonesia</h3>
                <h4>
                    <font-awesome-icon
                        :icon="['fas', 'globe']"
                        class="text-gray-500"></font-awesome-icon>
                    <a href="https://bro.do">bro.do</a>
                </h4>
                <div>Dec 2016 – Aug 2019</div>
                <div>Jakarta, Indonesia</div>
            </div>

            <div class="mb-4">
                <h2>Lead Developer</h2>
                <h3>PT Bursa Interaktif Gemilang</h3>
                <h4>
                    <font-awesome-icon
                        :icon="['fas', 'globe']"
                        class="text-gray-500"></font-awesome-icon>
                    <a href="https://brambang.com">brambang.com</a>
                </h4>
                <div>Oct 2016 – Nov 2016</div>
                <div>Jakarta, Indonesia</div>
            </div>

            <div class="mb-4">
                <h2>Lead Developer</h2>
                <h3>PT Pikmiap Ekspres Global</h3>
                <h4>
                    <font-awesome-icon
                        :icon="['fas', 'globe']"
                        class="text-gray-500"></font-awesome-icon>
                    <a href="https://pikmiap.com">pikmiap.com</a>
                </h4>
                <div>Apr 2016 – Sep 2016</div>
                <div>Jakarta, Indonesia</div>
            </div>

            <div class="mb-4">
                <h2>CTO</h2>
                <h3>PT. Laju Video Media</h3>
                <h4>
                    <font-awesome-icon
                        :icon="['fas', 'globe']"
                        class="text-gray-500"></font-awesome-icon>
                    <a href="https://lv8.tv">lv8.tv</a>
                </h4>
                <div>Nov 2013 – Apr 2016</div>
                <div>Jakarta, Indonesia</div>
            </div>

            <div class="mb-4">
                <h2>Manager - Web Developer</h2>
                <h3>PT. Kreatif Media Karya</h3>
                <h4>
                    <font-awesome-icon
                        :icon="['fas', 'globe']"
                        class="text-gray-500"></font-awesome-icon>
                    <a href="https://www.kmkonline.co.id">kmkonline.co.id</a> / <a
                        href="https://liputan6.com">liputan6.com</a
                    >
                </h4>
                <div>Jul 2013 – Oct 2013</div>
                <div>Jakarta, Indonesia</div>
            </div>

            <div class="mb-4">
                <h2>Supervisor, Mid Developer</h2>
                <h3>Multiply</h3>
                <h4>
                    <font-awesome-icon
                        :icon="['fas', 'globe']"
                        class="text-gray-500"></font-awesome-icon>
                    <a href="https://multiply.com">multiply.com</a>
                </h4>
                <div>Sep 2012 – May 2013</div>
                <div>Jakarta, Indonesia</div>
            </div>

            <div class="mb-4">
                <h2>Developer (Part Time)</h2>
                <h3>PT Trijaya Dewata</h3>
                <h4>
                    <font-awesome-icon
                        :icon="['fas', 'globe']"
                        class="text-gray-500"></font-awesome-icon>
                    <a href="http://trijayadewata.com/">trijayadewata.com</a> / <a
                        href="https://www.baliplus.com/">baliplus.com</a
                    >
                </h4>
                <div>Aug 2011 – Aug 2012</div>
                <div>Denpasar, Bali, Indonesia</div>
            </div>

            <div class="mb-4">
                <h2>IT Developer</h2>
                <h3>Kemana.com</h3>
                <h4>
                    <font-awesome-icon
                        :icon="['fas', 'globe']"
                        class="text-gray-500"></font-awesome-icon>
                    <a href="https://kemana.com">kemana.com</a>
                </h4>
                <div>Nov 2009 – Jun 2010</div>
                <div>Denpasar, Bali, Indonesia</div>
            </div>

            <div class="mb-4">
                <h2>Web Programmer (Part Time)</h2>
                <h3>PT Baru di Bali</h3>
                <h4>
                    <font-awesome-icon
                        :icon="['fas', 'globe']"
                        class="text-gray-500"></font-awesome-icon>
                    <a href="http://barudibali.com">barudibali.com</a>
                </h4>
                <div>Jul 2009 – Oct 2009</div>
                <div>Denpasar, Bali, Indonesia</div>
            </div>

            <div class="mb-4">
                <h2>Web Developer (Contract)</h2>
                <h3>Harver Group, LLC</h3>
                <h4>
                    <font-awesome-icon
                        :icon="['fas', 'globe']"
                        class="text-gray-500"></font-awesome-icon>
                    <a href="https://saywire.com">saywire.com</a>
                </h4>
                <div>Aug 2006 – May 2009</div>
                <div>Remote (with US based company)</div>
            </div>

            <div class="mb-4">
                <h2>Web Programmer (Part Time)</h2>
                <h3>ABL Tours and Travel</h3>
                <h4>
                    <font-awesome-icon
                        :icon="['fas', 'globe']"
                        class="text-gray-500"></font-awesome-icon>
                    <a href="https://baliwww.com/">baliwww.com</a>
                </h4>
                <div>Jun 2008 – Aug 2008</div>
                <div>Denpasar, Bali, Indonesia</div>
            </div>

            <div class="mb-4">
                <h2>Various Positions</h2>
                <h3>PT Agranet Multicitra Siberkom</h3>
                <h4>
                    <font-awesome-icon
                        :icon="['fas', 'globe']"
                        class="text-gray-500"></font-awesome-icon>
                    <a href="https://detik.com">detik.com</a>
                </h4>
                <div>Jakarta, Indonesia</div>
                <h4>Research & Development Supervisor</h4>
                <div>Jun 2005 – Aug 2006</div>
                <h4>Mobile Platform Development Supervisor</h4>
                <div>Jan 2003 - Jun 2005</div>
                <h4>Online Platform Development Supervisor</h4>
                <div>Feb 2001 - Dec 2002</div>
                <h4>Senior Programmer</h4>
                <div>Jan 2000 – Jan 2001</div>
                <h4>Programmer</h4>
                <div>Nov 1995 – Dec 1999</div>
            </div>
        </div>
    </section>
</Layout>
